/* forgotpassword.css */

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Users/sinansensev/Desktop/my-firebase-app/src/smallphoto.png');
    background-size: 200px; /* Resmin boyutunu küçültün */
    background-repeat: repeat; /* Arka planın sürekli tekrar edilmesini sağlayın */
    background-color: rgba(255, 255, 255, 0.7); /* Arka planın %70 oranında şeffaf olmasını sağlayın */
    background-blend-mode: lighten; /* Arka planın üzerindeki içeriğin daha iyi görünmesini sağlayın */
  }
  
  .forgot-password-form {
    width: 400px; /* Formun genişliğini ayarlayın */
    background-color: rgba(255, 255, 255); /* Formun arka planının %70 soluk olmasını sağlayın */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-input-container {
    margin-bottom: 15px;
    position: relative; /* Form içindeki diğer öğelerle uyumlu olarak pozisyonlandırmak için */
  }
  
  .forgot-password-input {
    width: calc(100% - 24px); /* Padding alanını da hesaba katarak genişliği ayarlayın */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-button {
    width: 100%;
    padding: 12px;
    background-color: #1E1150;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Aralık ekleyin */
  }
  
  .forgot-password-button:hover {
    background-color: #5d567a;
  }
  
  .forgot-password-error {
    color: red;
    margin-top: 10px;
  }
  
  .back-to-login {
    display: block;
    text-align: right; /* Sağa hizalayın */
    color: #1E1150;
    text-decoration: none;
    margin-bottom: 10px; /* Aralık ekleyin */
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  
  .reset-password-link {
    display: block;
    text-align: left; /* Sola hizalayın */
    color: #1E1150;
    text-decoration: none;
    margin-bottom: 10px; /* Aralık ekleyin */
  }
  
  .reset-password-link:hover {
    text-decoration: underline;
  }
  