.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Users/sinansensev/Desktop/my-firebase-app/src/smallphoto.png');
    background-size: 200px;
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    position: relative;
}

.reset-password-form {
    width: 400px;
    background-color: rgba(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.reset-password-input-container {
    margin-bottom: 15px;
}

.reset-password-input {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-password-button {
    width: calc(100%);
    padding: 12px;
    background-color: #1E1150;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-password-button:hover {
    background-color: #5d567a;
}

.reset-password-error {
    color: red;
    margin-top: 10px;
}

.reset-password-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 20px;
    border-radius: 8px;
    z-index: 1;
    margin-top: -20px; /* Başlığın yukarıya kaymasını engellemek için */
}
